NODE-RED.json
[{"id":"8d66c19a.93bcd","type":"tab","label":"Flow 3","disabled":false,"info":""},{"id":"f079fd1a.36028","type":"ui_tab","z":"","name":"SMART RESTAURANT","icon":"dashboard","disabled":false,"hidden":false},{"id":"95eebd7a.f9793","type":"ui_base","theme":{"name":"theme-dark","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"Times New Roman,Times,serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#c40824","baseFont":"Lucida Sans Unicode,Lucida Grande,sans-serif","edited":true,"reset":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#ec7c32","baseFont":"Times New Roman,Times,serif","reset":false},"themeState":{"base-color":{"default":"#097479","value":"#c40824","edited":true},"page-titlebar-backgroundColor":{"value":"#c40824","edited":false},"page-backgroundColor":{"value":"#111111","edited":true},"page-sidebar-backgroundColor":{"value":"#333333","edited":false},"group-textColor":{"value":"#f62342","edited":false},"group-borderColor":{"value":"#555555","edited":false},"group-backgroundColor":{"value":"#333333","edited":true},"widget-textColor":{"value":"#eeeeee","edited":false},"widget-backgroundColor":{"value":"#c40824","edited":false},"widget-borderColor":{"value":"#333333","edited":true},"base-font":{"value":"Lucida Sans Unicode,Lucida Grande,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"c5b192bd.7a74d","type":"ui_group","z":"","name":"BOT","tab":"f079fd1a.36028","order":2,"disp":true,"width":"15","collapse":false},{"id":"7d2dd25b.a5b6bc","type":"ui_group","z":"","name":"CHATBOT","tab":"","order":1,"disp":true,"width":"13","collapse":false},{"id":"6570ffe2.b714f","type":"ui_group","z":"","name":"Chatbot","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"eb8446cf.46ac58","type":"ui_group","z":"","name":"Chatbot","tab":"","order":1,"disp":true,"width":"6","collapse":false},{"id":"aa3b9930.36f358","type":"ui_group","z":"","name":"MENU","tab":"f079fd1a.36028","order":2,"disp":true,"width":"6","collapse":false},{"id":"48137ee8.1c956","type":"function","z":"8d66c19a.93bcd","name":"INPUT","func":"msg.payload=msg.payload.text;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":590,"y":560,"wires":[["c32cdfab.6a7c9","c7ca9b74.d12688"]]},{"id":"a81002db.23ae1","type":"ui_form","z":"8d66c19a.93bcd","name":"","label":"","group":"c5b192bd.7a74d","order":1,"width":"0","height":"0","options":[{"label":"ENTER YOUR QUERY","value":"text","type":"text","required":true,"rows":null}],"formValue":{"text":""},"payload":"","submit":"ENTER","cancel":"CANCEL","topic":"","x":552,"y":340,"wires":[["48137ee8.1c956"]]},{"id":"beaa02bd.93735","type":"debug","z":"8d66c19a.93bcd","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":1330,"y":240,"wires":[]},{"id":"c32cdfab.6a7c9","type":"watson-conversation-v1","z":"8d66c19a.93bcd","name":"Smart bot","workspaceid":"","multiuser":false,"context":true,"empty-payload":false,"service-endpoint":"","timeout":"","optout-learning":false,"x":820,"y":400,"wires":[["706c9d5e.7cf4b4"]]},{"id":"c7ca9b74.d12688","type":"ui_text","z":"8d66c19a.93bcd","group":"c5b192bd.7a74d","order":2,"width":"15","height":"2","name":"","label":"YOU :","format":"{{msg.payload}}","layout":"row-left","x":852,"y":620,"wires":[]},{"id":"4628de86.57075","type":"ui_text","z":"8d66c19a.93bcd","group":"c5b192bd.7a74d","order":4,"width":"15","height":"4","name":"","label":"Bot:","format":"{{msg.payload}}","layout":"row-left","x":1372,"y":660,"wires":[]},{"id":"9400ba2c.317db8","type":"cloudant out","z":"8d66c19a.93bcd","name":"","cloudant":"","database":"customer_details","service":"node-red-dkboss-cloudant-1601307323040-77350","payonly":true,"operation":"insert","x":1370,"y":380,"wires":[]},{"id":"c5b61a2f.767948","type":"ui_template","z":"8d66c19a.93bcd","group":"aa3b9930.36f358","name":"MENU","order":6,"width":"6","height":"8","format":"<img ng-src={{msg.url}} alt=\"Image\">","storeOutMessages":true,"fwdInMessages":true,"resendOnRefresh":true,"templateScope":"local","x":1352,"y":780,"wires":[[]]},{"id":"706c9d5e.7cf4b4","type":"function","z":"8d66c19a.93bcd","name":"O/P","func":"if(msg.payload.output.generic[0].response_type==\"image\"){\n    \n    msg.url = msg.payload.output.generic[0].source;\n     msg.url=\"\";\n    msg.payload = msg.payload.output.generic[0].title;\n    \n}\nelse{\n   \n    \n    msg.payload = msg.payload.output.text[0];\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":1062,"y":540,"wires":[["beaa02bd.93735","4628de86.57075","9400ba2c.317db8","c5b61a2f.767948","507ba1f1.c680d"]]},{"id":"507ba1f1.c680d","type":"ui_audio","z":"8d66c19a.93bcd","name":"","group":"c5b192bd.7a74d","voice":"Microsoft David Desktop - English (United States)","always":false,"x":1440,"y":560,"wires":[]}]